@import "~src/styles";

:host {

    display: block;

    padding: 20px 0 20px 0;

    -webkit-box-shadow: 0px 0px 5px 0px rgba($secondary-color,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba($secondary-color,0.75);
    box-shadow: 0px 0px 5px 0px rgba($secondary-color,0.75);
    background-color: $primary-color;



}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    width: 70%;
    position: relative;
}


.searchbox {
    // padding:13px 15px;
    // margin-top: 5px;
    display: inline-block;
    width: 50%;
    
    input {
        width: 100%;
        padding:13px 15px;
        outline: none;
        border: 1px solid white;
    }
}

.header-text-intro{
    display: inline-block;
    margin-right: 78px;
    position: relative;
    bottom: 2px;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 7px;
    line-height: 44px;
    vertical-align: middle;
    
}

.icon {
    position: relative;
    top: 10px;
    left: 10px;
    
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 30px;
}

.cart {
    
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 20px;

    .cart-icon {
        cursor: pointer;
        outline: none;
        color: white;
        font-size: 30px;
    }
}

.number-of-items{
    position: absolute;
    top: 3px;
    right: 15px;

    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    font-size: 70%;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 925px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 625px) {

    .header-text-intro{
        display: block;
        width: 100%;
    }
    
    .number-of-items{
        position: absolute;
        top: 0px;
        right: 10px;
    }
    .searchbox {
        display: inline-block;
        width: calc(100% - 35px);
    }

    .cart {
        top: 5px;
        right: 16px;
    }
}