@import "~src/styles";

.container{
    // padding: 15px $overall-padding;
    max-width: 1140px;
    width: 70%;
    margin: 25px auto;
    
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}


@media screen and (max-width: 1200px) {
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 925px) {
    .container{
        width: 100%;
    }
}