@import "~src/styles";

:host {
    display: block;
    width: 20%;
    padding: 40px 20px 20px 20px;
    float: left;

    // border: 1px solid red;
}

h3 {
    color: $primary-color;
    margin-top: 15px;
    margin-bottom: 8px;
}


label {
    margin-left: 10px;
}

@media screen and (max-width: 840px) {
    :host {
        width: 90%;
        float: unset;
        margin: 0 auto;
        padding: 0;
    }

    .prices, .type {
        float: left;
    }

    .type {
        margin-right: 40px;
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}